.author{
	height: 66px;
}

.messages{
	margin-bottom: 20px;
	display: block;
    position: relative;
}

.messages:after{
	clear: both;
    content: "";
    display: block;
}
.message{
	margin-bottom: 20px;
	display: block;
    position: relative;
    height: 683px;
    min-height: 100%;
}

.message_main{
	/*border: 2px solid blue;*/
	/*margin: 2px;*/
	/*border-style: inset;*/
	height: 200px;
	overflow-y: auto; 
}

.message_body{
	 word-wrap: break-word;
}

.main_btn{
	width: 100%;
}

.admin_btn__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.admin_btn_confirm{
	color: green;
	padding-top: 27px;
	padding-bottom: 27px;;
}
textarea{
	resize: none;
}
.admin_btn_edit{
	color: orange;
}

.hidden{
	visibility: hidden;
}

.alert{
	margin-bottom: 0px;
}


.preview__wrap{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, .2);
	z-index: 1;
}

.preview__body{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #337ab7;
	border-radius: 15px;
	width: 600px;
	height: 300px;
	z-index: 2;
	overflow-y: scroll;
	background-color: white;

}
.preview__body::-webkit-scrollbar{
	display: none;
}

footer{
	width: 100%;
	text-align: center;
}