.author_wrap{
	height: 66px;
	/*vertical-align: bottom;*/
	position: relative;
}
.author{
	position: absolute;
	bottom: 0;
	margin: 0;
}

.messages{
	margin-bottom: 20px;
	display: block;
    position: relative;
}

.messages:after{
	clear: both;
    content: "";
    display: block;
}
.message{
	margin-bottom: 20px;
	display: block;
    position: relative;
    min-height: 100%;
}
.admin.message{
	height: 720px;
}
.message_main{
	height: 650px;
}

.unwatched{
	background-color: gray;
	border-radius: 10px;
}
.unwatched div,.unwatched h3, .unwatched h5,.watched div,.watched h3, .watched h5{
	color: white;
}
.watched{
	background-color: #449d44;
	border-radius: 10px;
}

.message__from{
	width: 400px;
}
textarea.form-control{
	height: 200px;
}

img{
	border-radius: 5px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

.main_btn{
	width: 100%;
}

.admin_btn__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.changed::after{
	content: "Modified by admin";
	background-color: gray;
	color: white;
	float: right;
	margin-top: -30px;
	bottom: 0;
}

.admin_btn_confirm, .admin_btn_edit{
	padding-top: 27px;
	padding-bottom: 27px;
}
textarea{
	resize: none;
}


.hidden{
	visibility: hidden;
}



.preview__wrap{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, .2);
	z-index: 1;
}

.preview__body{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #337ab7;
	border-radius: 15px;
	width: 600px;
	height: 300px;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 2;
	overflow-y: scroll;
	background-color: white;

}

.fa-times{
	font-size: xx-large;
	position: absolute;
	right: 20px;
	top: 20px;
	background-color: #337ab7;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.preview__message_body{
	margin-left: 20px;
}

.preview_text{
	width: 450px;
	height: 100px;
}

.preview__body::-webkit-scrollbar{
	display: none;
}


.succes_info{
	position: fixed;
	width: 150px;
	right: 50px;
	bottom: 20px;
}

footer{
	width: 100%;
	text-align: center;
}