.message_main{
	/*border: 2px solid blue;*/
	/*margin: 2px;*/
	border-style: inset;
	height: 300px;
	margin-bottom: 50px;
}
.creation_time::before, .message_body::before, .author_email::before{
	content: "";
	position: absolute;
	margin-top: -5px;
	border-bottom: 3px solid #337ab7;
	width: 90%;
}

.changed::before{
	content: "Modified by admin";
	background-color: gray;
	color: white;
	float: right;
	/*margin-right: 50px;*/
}
